{%if profile.user != request.user %}
<div class="row m-1">
    <div class="col-2">
        <form action="{% url 'follow_unfollow' %}" method="POST">
                {% csrf_token %}

                {% if is_followed %}
                    <button type="submit" id='follow' name="profile_user" value="{{profile.user.username}}" class="btn btn-danger btn-sm my-2 mx-1">Unfollow</button>
                {% else %}
                    <button type="submit" id="follow" name="profile_user" value="{{profile.user.username}}" class="btn btn-primary btn-sm my-2 mx-1">Follow</button>
                {%endif%}
        </form>
    </div>
    <div class="col-2 ml-5">
        <button  class="mb-2 btn btn-success btn-danger btn-sm mx-2"><i class="fas fa-comment-dots"></i>&nbsp;Message</button>
    </div>
</div>
{%endif%}


<div class="m-auto profile-user-buttons">
    <button type="button" class="mb-2 btn btn-secondary" data-toggle="modal" data-target="#fgmod">Following{{ profile.followings.count|pluralize }}({{profile.followings.count}})</button>
    {%if profile.followings.count > 0 %}
    <div class="modal fade bd-example-modal-sm" id="fgmod" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <a href="#" class="list-group-item active">Following{{profile.followings.count|pluralize}}</a>
                {%for following in profile.followings.all%}
                    <a href="{%url 'profile' following.user.username%}" class="list-group-item"> @{{following.user}}</a>
                {%endfor%}
            </div>
          </div>
    </div>
    {%endif%}

        <!--Followers button-->

    <button type="button" class="mb-2 btn btn-secondary" data-toggle="modal" data-target="#frmod">Follower{{ profile.followers.count|pluralize }}({{profile.followers.count}})</button>
    {%if profile.followers.count > 0 %}
        <div class=" modal fade bd-example-modal-sm" tabindex="-1" id="frmod" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="m-auto modal-dialog modal-sm">
                <div class="m-auto modal-content">
                    <a href="#" class=" list-group-item active">Follower{{profile.followers.count|pluralize}}</a>
                    {%for follower in profile.followers.all%}
                        <a href="{%url 'profile' follower.user.username%}" class="list-group-item"> @{{follower.user}}</a>
                    {%endfor%}
                </div>
              </div>
        </div>
    {%endif%}

</div>



