{%extends 'base.html'%}

{% load static %}

{%block title%}
	BuddieBuzz Login
{%endblock%}

{%block static%}
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/login.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
{%endblock%}
{% block content %}
	<div class="container">
		<div class="img">
			<img src="{% static 'account/img/bg.svg' %}">
		</div>
		<div class="login-content">
			<form method="POST">
				{% csrf_token %}
				<img src="{% static 'account/img/avatar.png' %}">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
<!--           		   		<input type="text" class="input">-->
					   		{{form.username}}
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
<!--           		    	<input type="password" class="input">-->
					   		{{form.password}}
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
				<input type="submit" class="btn" value="Login">
				<button  class="btn" >Create an Account </button>
            </form>

        </div>
    </div>

{%endblock%}

{%block script%}
	<script type="text/javascript" src="account/js/main.js"></script>
{%endblock%}