{% extends "base.html" %}
{% load static %}
{%block title%}Buddies-home{%endblock%}



{% block content %}
<a style="color: black; text-decoration:none; font-weight: bold;" href="{% url 'post_create' %}"><button type="button"  class="container btn btn-primary btn-lg btn-block mb-3" >
    CREATE YOUR NEW POST
</button></a>
    {% for post in posts %}
        <article class="media content-section my-4 py-2">
          <img class = 'rounded-circle'
               style="height: 65px;  width: 65px;  margin-right: 16px;"
               src="{{ post.author.profile.image.url }}">

          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{post.author.profile.get_absolute_url}}">{{ post.author }}</a>
              <small class="text-muted">{{ post.updated|date:"F d, Y" }}</small>

            </div>

              {% for img in post.image_set.all %}

                <img src="{{img.image.url}}" class="img-fluid" alt="Responsive image">

              {% endfor %}
              <h3><a class="article-title" href="{{post.get_absolute_url}}">{{ post.caption }}</a></h3>
          </div>

        </article>
        <form method="POST">
            {% csrf_token %}
            <button type="submit"  id="like_button{{post.id}}" value="{{post.id}}">
                {%if request.user in post.likes.all %}
                    Unlike({{post.likes.count}})
                {%else%}
                    Like({{post.likes.count}})
                {%endif%}
            </button>
        </form>
        <form method="POST">
            {% csrf_token %}
            <input type="text" id="cmt{{post.slug}}" placeholder="Write your comment!">
            <button type="submit" id="cbtn{{post.slug}}" value="{{post.slug}}" > Comment </button>
        </form>
            <br>
            Comments:
            <br>
        <ul id = 'cmtls{{post.slug}}' >
        {% for comment in post.comments.all %}

            <li class="my-2"><a href="{{comment.commenter.profile.get_absolute_url}}">
                @{{comment.commenter}}</a>: {{comment.body}}
                {%if request.user == comment.commenter.profile.user %} <button class="mx-3 btn btn-sm  ">Delete</button>{%endif%}
                <button class="btn btn-primary">
                    {%if request.user in comment.likes.all %}
                        UnLike({{comment.likes.count}})
                    {% else %}
                        Like({{comment.likes.count}})
                    {% endif %}
                </button>
            </li>

        {% endfor %}
        </ul>

    {% endfor %}
    <div class="mb-3 mt-0 pb-2">

      {%if page_obj.has_previous%}

      <a class="btn btn-outline-info " href="?page=1">&laquo;First page</a>
      <a class="btn btn-outline-info " href="?page={{ page_obj.previous_page_number }}">Previous</a>

      {%endif%}


      <span style="color: blue " class="current bg-info ">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>


        {% if page_obj.has_next %}
            <a class="btn btn-outline-info ml-1" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn btn-outline-info " href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}


  </div>



{% endblock content %}

{% block script %}
    <script type="text/javascript">
      $(document).ready(function(event){

        //For Ajax LIKE

          {% for post in posts %}
            $(document).on('click', '#like_button{{ post.id }}', function(event){
              event.preventDefault();
              var post_id=$(this).attr('value');
              $.ajax({
                type:'POST',
                url : '{% url "post_like" %}',
                data:{'post_id':post_id, 'csrfmiddlewaretoken':'{{ csrf_token }}' },
                dataType: 'json',
                success: function(data){
                    if (data.is_liked){
                        document.getElementById("like_button{{post.id}}").innerHTML = `Unlike(${data.countLike})`;
                    }
                    else{
                        document.getElementById("like_button{{post.id}}").innerHTML = `Like(${data.countLike})`;
                    }
                },
                });
             });
           {% endfor %}


           //for comment


           {% for post in posts %}
            $(document).on('click', '#cbtn{{ post.slug }}', function(event){
              event.preventDefault();
              var post_slug=$(this).attr('value');
              var comment = $('#cmt{{ post.slug }}').val();

              $.ajax({
                type:'POST',
                url : '{% url "post_comment" %}',
                data:{'post_slug':post_slug, 'comment':comment, 'csrfmiddlewaretoken':'{{ csrf_token }}' },
                dataType: 'json',
                success: function(data){
                    ls = `<li><a href="{{user.profile.get_absolute_url}}">@${data.commenter}</a>: ${comment}</li>`;
                    $('#cmtls{{post.slug}}').append(ls);
                    document.getElementById('cmt{{ post.slug }}').value =" ";
                },
                });
             });
           {% endfor %}});
    </script>
    <script src="{% static 'post/js/main.js' %}"></script>
{% endblock %}

